@charset "UTF-8";
.topheaderindex {
    background-color: #646464;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1389px;
    height: 17px;
}
.medicine {
    width: 789px;
}
.introindex {
    background-color: #F4E500;
    padding-top: 100px;
    padding-bottom: 100px;
}
.teachindex {
    background-color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 100px;
}
.healindex {
    background-color: #FF0004;
    padding-top: 100px;
    padding-bottom: 100px;
}
.musicindex {
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #F4F1F1;
}
.gofundmeall {
    background-color: #F7F7F9;
    padding-top: 100px;
    padding-bottom: 100px;
}
.paypalall {
    background-color: #646464;
    padding-top: 100px;
    padding-bottom: 100px;
}
.helloblock {
    color: #F7F0F0;
    font-size: 104px;
}
